@import "tailwindcss";

@keyframes slideLeft {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

@keyframes slideRight {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.slide-left {
  animation: slideLeft 0.3s ease-out;
}

.slide-right {
  animation: slideRight 0.3s ease-out;
}